/* *{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    height: 48%;
    width: 13%;
    background-color: rgb(31, 30, 30);
    border-radius: 1rem;
    padding: 1rem;
}

.zero{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px 5px;
    
}

.calc form input{
    background-color: rgb(128, 122, 122);
    border-radius: 50%;
    border: 0;
    height: 30px;
    width: 30px;
    margin: 2%;
    margin-top: 10px;
    margin-left: 2.5%;
    box-shadow: -2px -2px 5px white, 5px 5px 5px rgba(54, 143, 168, 0.2);
    cursor: pointer;
    color: white;
    font-weight: 500;
}
form .zero input{
    text-align: right;
    flex: 1;
    height: 40px;
    font-size: 30px;
    color: aliceblue;
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
@media (max-width:400px){
    .calc{
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }
    .calc form input{
        height: 50%;
        width: 10%;
    }
    form .zero input{
        height: 100px;
        width: 100%;
    } 
    
}
 */
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    height: 280px;
    width: 170px;
    background-color: rgb(31, 30, 30);
    border-radius: 1rem;
    padding: 1rem;
}

.zero{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px 5px;
    
}

.calc form input{
    background-color: rgb(128, 122, 122);
    border-radius: 50%;
    border: 0;
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-left: 2.5%;
    box-shadow: -2px -2px 5px white, 5px 5px 5px rgba(54, 143, 168, 0.2);
    cursor: pointer;
    color: white;
    font-weight: 500;
}
form .zero input{
    text-align: right;
    flex: 1;
    height: 40px;
    font-size: 30px;
    color: aliceblue;
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
@media (max-width:400px){
    .calc{
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }
    .calc form input{
        height: 50px;
        width: 50px;
        font-size: larger;
        margin-left: 20px;
        margin-top: 15px;
    }
    form .zero input{
        height: 100px;
        width: 100%;
    } 
    
}
